env
data
.cache
.ipynb_checkpoints
.neptune
.pytest_cache
src/timbral_models
scripts/gen.err
scripts/gen.out
scripts/scratch_2.py
.neptune
.ipynb_checkpoints
.pytest_cache
text.txt
scratch.py
config.json
all_text_config.json
audio_model_config.json